.wrapper-header,
.row-footer{
    margin: 0;
}

.wrapper-content-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
}

.wrapper-content-products .card{
    padding: 5px;
}

.wrapper-content-products .card .card-img-top{
    width: 70%;
    margin: 0 auto;
    aspect-ratio: 4/5;
}

.wrapper-main{
    padding: 25px 0;
}

.wrapper-content-products .card .card-body .card-title{
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 48px;
}

.footer{
    color: white;
}

.wrapper-spinner{
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}